* {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {

    font-family: "Source Serif 4", serif;
    font-weight: 500;
    font-style: normal;
}

a {
    color: #668098;
}

code, code * {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

i, em {
    font-style: italic;
}

footer {
    height: 150px;
}
