{% extends "base.html" %}

{% block head %}

  {{ super() }}

  <link rel="stylesheet" type="text/css" href="/static/css/index.css" />

{% endblock %}

{% block content %}

    <div class="container-md" style="margin-top: 5em; max-width: 1000px;">

        <div class="row">

            <div class="col-md-4 text-center">

                <img src="{{ meta.photo|e }}" id="profile-image">

                <h2 class="pt-5">{{ meta.name|e }}</h2>
                <h5>{{ meta.position|e }}</h5>
                <p>{{ meta.institution|e }}</p>

            </div>

            <div class="col-md-8">

                <div class="container-fluid mb-5">

                    {{ content_index }}

                </div>

                <div class="container-fluid mt-5 mb-5">

                    <h2>Education</h2>

                    {% for item in meta.education %}

                        <h5>
                            <i class="bi-mortarboard me-2" style="font-size: 1.5rem; color: black;"></i>
                            {{ item.degree|e }}
                        </h5>
                        <p>
                            {{ item.institution|e }} ({{ item.year|e }})
                        </p>

                    {% endfor %}

                </div>

                <div class="container-fluid mt-5 mb-5">

                    <h2>Publications</h2>

                    <div class="list-group">

                        {% for pub in top_pubs %}

                        <a href="{{ pub.url }}" class="list-group-item list-group-item-action">
                            {{ pub.title|e }}
                        </a>

                        {% endfor %}
                        
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock content %}
