{% extends "base.html" %}

{% block head %}

  {{ super() }}

  <link rel="stylesheet" type="text/css" href="/static/css/index.css" />

{% endblock %}

{% block content %}

    <div class="container-md" style="margin-top: 5em; max-width: 1000px;">

        <div class="row">

            <div class="col-md-4 text-center mb-5 mb-md-0">

                <img src="{{ meta.photo|e }}" id="profile-image">

                <h2 class="pt-5">{{ meta.name|e }}</h2>
                <h5>{{ meta.position|e }}</h5>
                <p>{{ meta.institution|e }}</p>

                <a href="{{ meta.bluesky }}" target="_blank"><i class="fa-brands fa-2x fa-square-bluesky"></i></a>
                <a href="{{ meta.orcid }}" target="_blank"><i class="fa-brands fa-2x fa-orcid"></i></a>
                <a href="{{ meta.scholar }}" target="_blank"><i class="fa-brands fa-2x fa-google-scholar"></i></a>
                <a href="{{ meta.linkedin }}" target="_blank"><i class="fa-brands fa-2x fa-linkedin"></i></a>

            </div>

            <div class="col-md-8">

                <div class="container-fluid mb-5">

                    {{ content_index }}

                </div>

                <div class="container-fluid mt-5 mb-5">

                    <h2>Education</h2>

                    {% for item in meta.education %}

                        <h5>
                            <i class="bi-mortarboard me-2" style="font-size: 1.5rem; color: black;"></i>
                            {{ item.degree|e }}
                        </h5>
                        <p>
                            {{ item.institution|e }} ({{ item.year|e }})
                        </p>

                    {% endfor %}

                </div>

                <div class="container-fluid mt-5 mb-5">

                    <h2>Recent Publications</h2>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"><strong>Year</strong></th>
                                <th scope="col"><strong>Title</strong></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for pub in pubs|sort(attribute="date", reverse=True)|batch(5)|first %}
                            
                                <tr onclick="window.location='{{ pub.url }}';" style="cursor: pointer;">
                                    <td>{{ pub.date.year|e }}</th>
                                    <td>{{ pub.title|e }}</td>
                                </tr>

                            {% endfor %}
                            
                        </tbody>
                    </table>

                </div>

                <div class="container-fluid mt-5 mb-5">

                    <h2>Recent Posts</h2>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"><strong>Year</strong></th>
                                <th scope="col"><strong>Title</strong></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for post in posts|sort(attribute="date", reverse=True)|batch(5)|first %}
                            
                                <tr onclick="window.location='{{ post.url }}';" style="cursor: pointer;">
                                    <td>{{ post.date.year|e }}</th>
                                    <td>{{ post.title|e }}</td>
                                </tr>

                            {% endfor %}
                            
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>

{% endblock content %}
