{% extends "base.html" %}

{% block content %}

    <div class="container-md" style="margin-top: 5em; max-width: 800px;">

        <div class="container-fluid mt-5 mb-5">

            <h3>{{ meta.title|e }}</h3>
            <p>{{ meta.authors|join(', ') }}</p>
            <p>{{ meta.date.strftime('%-d %B %Y') }}</p>

            <a class="btn btn-light" href="https://doi.org/{{ meta.doi }}" target="_blank" role="button">
                DOI <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>

        </div>

        <div class="container-fluid">

            {{ content_pub }}

        </div>

    </div>

{% endblock content %}
